@page
@model Plantify_Project_The_Webshop.Pages.CartModel
@{
	ViewData["Title"] = "Shopping Cart";
}

<h1>Your Cart</h1>

<table>
	@* <thead>
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead> *@
	<tbody>

		<div class="shoppingCart">
			@if (Model.Carts.Any())
			{
				@foreach (var cartItemGroup in Model.Carts.GroupBy(c => c.ProductId))
				{
				<tr>
					<td><img src="Images/@cartItemGroup.First().Products.ImagePath" alt="@cartItemGroup.First().Products.Name" /></td>
					<td>@cartItemGroup.First().Products.Name</td>
					<td>Price: @cartItemGroup.First().Products.Price SEK</td>
						@if (cartItemGroup.Count() > 1)
						{
						<td>Quantity: @cartItemGroup.Sum(c => c.Quantity)</td>
						}
						else
						{
						<td>Quantity: @cartItemGroup.First().Quantity</td>
						}
				</tr>
				}
			}
			else
			{
			<p id="emptyCart">@Model.emptyCart</p>
			}
		</div>

	</tbody>

</table>

<div class="cart-total">
	<p>Total: @Model.TotalPrice</p>

	@* Knappar *@
	<form method="post">
		<button type="submit" asp-page-handler="ClearCart">Clear Cart</button>
	</form>

	<form asp-page="/OrderConfirmation" method="get">
		<button type="submit">Proceed to Checkout</button>
	</form>

	<form asp-page="/Index" method="get">
		<button type="submit">Return to start</button>
	</form>
</div>
