@page
@model Plantify_Project_The_Webshop.Pages.DetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<div class="product-details">
    <img src="@Model.Product.ImagePath" alt="@Model.Product.Name" />
    <h1>@Model.Product.Name</h1>
    <p>Price: @Model.Product.Price SEK</p>
    <p>Category: @Model.Product.Category</p>
    <p>Description: @Model.Product.Description</p>

    <form asp-page-handler="AddToCart" method="post">
        <button type="submit" > Add To Cart</button>
    </form>

    <form asp-page="/Index" method="get">
        <button type="submit">Return to Start</button>
    </form>
</div>
