@page
@model IndexModel
@inject Plantify_Project_The_Webshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Search";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<a href="/cart">View Cart</a>

<form method="get">
    <input type="text" name="searchText" placeholder="Search for a product by name..." />
    <select name="category">
        <option value="">All Categories</option>
        <option value="">Houseplants</option>
        <option value="">Pots</option>
        <option value="">Tools & Accessories</option>
    </select>
    <button type="submit">Search</button>
</form>

<div class="product-list">
    @foreach (var product in Model.Products)
    {
        <div class="product">
        <a asp-page="Details" asp-route-id="@product.ID">
            <img src="Images/@product.ImagePath" alt="@product.Name"/>
            <h2>@product.Name</h2>
            <p>@product.Price</p>
            <p>@product.Description</p>
            @* Eventuellt lägga till en knapp här (click for more details) för visibility *@
        </a>
        </div>
    }

</div>

@if (Model.Products.Count == 0)
{
    <p>No products found.</p>
}

@* Pagination here *@



















@* @page
@model IndexModel
@inject Plantify_Project_The_Webshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

@if (Model.Product.ImagePath != null)
{
    <img src="images/@Model.Product.ImagePath" style="width: 200px" />
}

<form method="post">
    <input type="text" name="itemText" placeholder="Search for something..." />
    <button type="submit">Add Item</button>
</form>

<ul>
    @foreach (var item in Model.Products)
    {
        <li>@item.Name</li> //En lista av produkter
    }
</ul>

<form method="post"> </form> *@